* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header header header "
        "aside main main"
        "aside main main"
        "aside main main"
        "footer footer footer";
  
}

header {
    grid-area: header;
    background-color: green;
}

aside {
    grid-area: aside;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: purple;
}

footer {
    grid-area: footer;
    background-color: yellow;
}