.menu-toggle img {
    width: 200px;
    height: 200px;
}

nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: gray;
    margin-bottom: 20px;
    padding-left: 20%;
}

.nav-logo {
    width: 200px;
}

.nav-logo h1 {
    display: inline-block;
    padding-left: 40px;
}

ul {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    padding-top: 10px;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    left: -250px; /* 사이드바를 화면 밖으로 이동 */
    top: 0;
    background-color: blue;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0; /* 사이드바가 화면 안으로 이동 */
}

.search-container {
    padding-top: 24px;
    padding-left: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    width: 1000px;
    height: 400px;
    background-color: blue;
    text-align: center;
    margin-bottom: 10px;
}

.item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item1 {
    background-color: green;
    width: 1000px;
    height: 400px;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    nav {
       display: none;
    }

    .menu-toggle img {
        width: 200px;
        height: 200px;
        cursor: pointer;
    }
    
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar ul {
        width: 100px;
        display: flex;
        flex-direction: column;
    }

    .sidebar ul li a {
        color: white;
    }

    .search-container {
        width: 200px;
        padding-top: 24px;
    }

    .search-container input {
        margin-bottom: 10px;
    }

    .container {
        width: 100%; /* 컨테이너 너비를 100%로 설정 */
    }

    .box1 {
        width: 400px; /* 이미지 너비를 45%로 설정하여 두 줄로 배치 */
        height: 200px; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
        background-color: blue;
        ext-align: center;
        margin-bottom: 10px;
    }

    .item1 {
        width: 400px; 
        height: 200px; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
        background-color: green;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (min-width: 501px) {
    .sidebar {
        display: none; /* 모바일 크기 이상에서는 사이드바 숨김 */
    }

    .menu-toggle img {
        display: none;
    }
    
}