@import "reset.css";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 670px;
    height: 980px;
    margin-top: 60px;
    margin-left: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #AACDFF;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 7px 7px 7px 7px #0068FF40;
}

.child-div {
   width: 466px;
   height: 80px;
   /* border: 1px solid red; */
   display: flex;
   align-items: center;

}

.child-div > label {
    display: inline-block;
    width: 150px;
}

.child-div > input {
    margin-bottom: -50px;
    width: 466px;
    margin-left: -138px;
}

#child-div-title{
    margin-top: 132px;
}

h1 {
    color: #0068FF;
}

input {
    display: inline-block;
    margin-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #CFCFCF;
}

label {
    font-size: 16px;
    line-height: 23.68px;
    padding: 0.2em 0.4em;
}

.radio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkbox-container > input {
    position: relative;
    top: -7px;
}

hr {
    background-color: #CFCFCF;
    height: 1px;
    /* border: 1px solid #CFCFCF; */
    width: 440px;
}

button {
    width: 470px;
    height: 75px;
    border: 1px solid #0068FF;
    background-color: white;
    border-radius: 10px;
}


/* .pw {
    border: 1px solid blue;
    display: block;
    margin-bottom: 20px;
}

.em {
    border: 1px solid red;
    display: block;
    margin-bottom: 20px;
}

.nm {
    border: 1px solid green;
    display: block;
    margin-bottom: 20px;
}

.selec {
    display: block;
    margin-bottom: 20px;
} */


