* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 1fr; /*행*/
    grid-template-rows: 100% 100%; /*열*/
    height: 100vh;
    height: 100vh;
    gap: 20px 10px;
}

.item {
    background-color: blue;
}