@import "reset.css";

* {
    box-sizing: border-box;
    margin:0px;
}

html { 
    background: url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*이미지 여백주는 방법 : 바깥쪽 부터 안쪽으로 내부 여백을 줘서 정렬*/
.background {
    width : 1024px;
    height: 600px;
    padding: 20px 0px 0px 20px;
    background-image: url('../images/background.png');
}

.outerbox {
    width: 808px;
    height: 544px;
    background-image: url('../images/outerbox.png');
}

/* 
이미지 여백주는 방법 : 내가 해본 방법
.background {
    position: relative;
    width : 1024px;
    height: 600px;
    background-image: url('../images/background.png');
}

.outerbox {
    position: absolute;
    width: 808px;
    height: 544px;
    background-image: url('../images/outerbox.png');
    margin-left: 10px;
    margin-top: 20px;
} */


.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 496px;
    padding: 32px 0px 0px 32px;
}

.wrapper__left {
    width: 208px;
    height: 472px;
    border-radius: 10px;
    /* margin-left: 25px;
    margin-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__left__header {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.today {
    font-size: 9px; /*css 상속*/
    width: 131px;
    height: 15px;
    color: #55B2D4;   
}

.wrapper__left__body {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.left__body__header {
   width: 100%;
}

.left__body__header__gray {
    width: 148px;
    height: 133px;
    background-color: gray;
    /* margin: auto auto; */
}

.left__body__header__line {
    /* padding: auto auto; */
    border-top: 1px dotted black;
    margin: 12px 0px;
}

.left__body__profile {
    font-size: 9px;
    width: 100%;
    height: 100%;
    /* margin: auto 30px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    /* justify-content: flex-start; */
    padding-top: 10px;
}

.left__body__footer {
    width: 100%;
    /* height: 100%;
    display: flex;
    flex-direction: column;
    /* margin: auto 30px; */
    font-size: 11px;
    font-style: 
    Malgun Gothic;
    color: #000000;
}

.left__body__footer > select {
    margin-top: 5px;
}

.wrapper__feel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: auto 30px; */
    font-size: 11px;
    font-style: 
    Malgun Gothic;
    color: #000000;
}

.feel__title {
    color: gray;
    font-size: 11px;
}

.wrapper__right {
    width: 524px;
    height: 472px;
    /* height: 100%; */
    /* margin-left: 25px;
    margin-top: 30px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
}

.wrapper__right__header {
    width: 510px;
    height: auto;
    /* padding-top: 7.5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* align-items: center;  */
    padding: 2px 14px;
    /* font-size: 11px;
    color: #55B2D4; */
}

.right__header__title {
    font-size: 16px;
    line-height: 20px;
    font-family: PFStardust;
    color: #55B2D4;
}

.right__header__setting {
    width: 83px;
    height: 16px;
    font-size: 9px;
    line-height: 20px;
    font-family: PFStardust;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.wrapper__right__body {
    width: 510px;
    height: 445px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}

/* .wrapper__right__header > h4 {
    display: inline-block;
    padding-left: 40px;
}

.wrapper__right__header > span {
    padding-right: 10px;
} */



.right__body__iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.wrapper__side__bar {
    width: 63px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 774px;
    top: 80px;
    border: 1px solid red;
}

.side__wrapper__button {
    display: inline-block;
    margin-top: 4px;
    width: 70px;
    height: 30px;
    font: PFStardust;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

#home {
    background-color: white;
}

#game {
    background-color: #55B2D4;
}

#music {
    background-color: white;
}
