.container {
    width: 700px;
    height: 700px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container:hover img{
    background-color: blanchedalmond;
}

@keyframes moving-logo {
    0% {
        transform: scale(1)
    } 25% {
        transform: scale(3) rotateY(360deg);
    } 50% {
        transform: scale(0.5)
    } 75% {
        transform: translateX(-100%);
    } 100% {
        transform: scale(1);
    }
}

img {
    width: 100px;
    animation: moving-logo 2s infinite;
}